<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
    </script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/united/bootstrap.min.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Leech Tracker</a>
            <ul class="nav">
              <li><a href="#">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          {% block content%}
          {% endblock content %}
        </div>
      </div>
    </div>
    {% block js %}
    {% endblock js %}
  </body>
</html>
