<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    {{ browserid_form.media }}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Leech Tracker</a>
            <ul class="nav">
              <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <ul class="nav pull-right">
              <li>
                {% if user.is_authenticated %}
                <a class="browserid-logout" href="{% url 'logout' %}">Sign Out</a>
                {% else %}
                <a class="browserid-login" href="#">Sign In</a>
                <form class="browserid-form" method="POST" action="{% url 'browserid_verify' %}">
                  {% csrf_token %}
                  {% if next %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% endif %}
                  {{ browserid_form.as_p }}
                </form>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          {% block content%}
          {% endblock content %}
        </div>
      </div>
    <footer class="footer">
      <p>This is a site by <a href="http://wraithan.net">Wraithan</a> and is open source. The repo is <a href="https://github.com/wraithan/leech-tracker">wraithan/leech-tracker</a>. Please report issues and feature requests in the <a href="https://github.com/wraithan/leech-tracker/issues">issue tracker</a>.</p>
    </footer>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51007293613f5d5f4c0001d9');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
